.contacts
    padding: 60px 0 60px 0
    background-color: #27272D
    color: #fff
    text-align: center
    address
        padding-top: 10px 
        line-height: 32px
    &__phone
        &-num
            width: 200px
            outline: none
            text-decoration: none
            color: #000
            display: block
            margin: 10px auto
            padding: 10px
            background-color: #FFB400
            border-radius: 20px