.beer__wrapper 
    width: 400px
    margin: 5px auto
    border: 1px solid #ccc
    padding: 20px
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
    opacity: 0
    transform: translateX(-100%)
    transition: opacity 0.2s ease, transform 0.2s ease


.beer__wrapper-inner 
    padding: 20px
    background: #fff
    border-radius: 10px
    box-shadow: 0 4px 8px rgba(0,0,0,0.1)


.beer__wrapper-img 
    width: 100%
    height: auto
    border-radius: 10px


.beer__wrapper-title 
    font-size: 24px
    margin: 10px 0


.beer__wrapper-char 
    display: flex
    flex-direction: column
    margin: 10px 0


.beer__wrapper-char h3 
    margin: 5px 0


.beer__wrapper-descr 
    font-size: 16px
    margin: 10px 0

